@charset "UTF-8"
@font-face {
    font-family:Trueno;
    src: url(fonte/TruenoRg.otf);
}

:root {
    --coramarela:#FFBD3A;
    --corpretaclara:#202020;
    --fontpadrao:Trueno;
}

body{
    margin: 0px;
    background-image:url(imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
      
}

main{
    margin: 0px;
}

#conteudo{
    margin: 0px;
}

#cabecalho{
    background-color: rgb(255, 255, 255);
    font-family: var(--fontpadrao);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.363);
    margin-right: -30px;
  
}

#cabecalho #menu{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-left:60px;
    margin-right: 60px;
    align-items: center;
    transition: 2s;
}

#cabecalho #menu a{
    text-decoration: none;
    color: var(--corpretaclara);
}

#cabecalho #menu a:hover{
    color: var(--coramarela);
}

#conteudo{
    padding-top: 200px;
    font-family: var(--fontpadrao);
    width: 100%;
    margin-left: 30px;
    margin-right: 30px; 
    transition: 2s;
    
}

#conteudo #pagina1{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-left: 20px;
}

#conteudo #pagina1 h1{
    font-size: 50px;
}

#conteudo #pagina1 a{
    text-decoration: none;
    
}

#conteudo #pagina1 a h2{
    background-color: var(--coramarela);
    color: white;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}

#conteudo #pagina1 a h2:hover{
    background-color: white;
    border-style: solid;
    border-color: var(--coramarela);
    color: var(--coramarela);
}

#conteudo #pagina2 .titulo{
    text-align: center;
    margin-top: 300px;
}

#conteudo #pagina2 .blocohabilidades{
    display: flex; 
    justify-content: space-around;   
    margin-left: 100px;
    margin-right: 100px;
}
#conteudo #pagina2 .blocohabilidades p{
    background-color: var(--corpretaclara);
    color: white;
    border-radius: 50px;
    padding: 30px;
    margin-left: 30px;
    text-align: center;
    margin-top: 30px;
}

#conteudo #programas .niveis{
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-left: 20px;
    margin-top: 100px;
}
#counteudo #programas .niveis{
    padding: 30px;
    margin: auto;
    align-items: center;
}

.pagina3{
    margin-left: -0px;
}

#conteudo .pagina3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin-top: 300px;
    background-color: var(--corpretaclara);
}

#conteudo .pagina3 h1{
    color: white;
}

#conteudo .pagina3 p{
    text-align: justify;
    font-weight: 500px;
    width: 800px;
    color: white;
    padding-bottom:30px;
    line-height: 30px;
}

.blococontato{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.form label,
.form input,
.form textarea,
.form button{
    display: flex;
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    width: 530px;
}

#footer{
    background-color: var(--corpretaclara);
    margin-top:30px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    margin-left: -30px;
    margin-right: -30px;
}

#footer img{
    margin-left: 30px;
}
#footer #redes{
    margin-right: 30px;
}


